Assignment1Redo/bin/*
Assignment1Redo/obj/*
Assignment1Redo/.vs/*
BottomTextTest/bin/*
BottomTextTest/obj/*
BottomTextTest/.vs/*
BottomTextInterfaceTest/bin/*
BottomTextInterfaceTest/obj/*
BottomTextInterfaceTest/.vs/*

*.nupkg

project.lock.json
projet.assets.json
*.nuget.props
*.nuget.targets

Assignment1Redo/Assignment1Redo.csproj.user
